<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/">Click here</a> to go to to the home page.</p>
    <p><a href="/new">Click here</a> to go to the form to add a new person.</p>
    <p><a href="/index">Click here</a> to go to the people index page.</p>
  </body>
</html>
