<% layout('layouts/boilerplate')%>
<h1>The show page</h1>

<div class="col-6">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title"><%= person.title %> <%= person.firstName %> <%= person.surname %></h5>
        </div>
    </div>
</div>